.dinosaurList ul {
  list-style-type: none;
  padding: 5rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

.dinosaurList {
  padding: 1rem;
}

.dinosaurList img {
  width: 26rem;
  height: 20rem;
  padding: 1rem;
  border: solid;
  margin: 1rem;
}

.Main {
  text-align: left;
}

.home {
  padding: 8rem;
  margin: 2rem;
  text-align: center;
}

.dinosaurListFooter {
  display: flex;
  flex-direction: row;
  margin: 3rem;
}

.dinosaurListFooter button {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  padding: 0.5rem;
}

.dinosaurDetails {
  text-align: center;
  padding: 6rem;
}