.dinosaurList ul {
  list-style-type: none;
  padding: 5rem;
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

.dinosaurList img {
  width: 26rem;
  height: 20rem;
  padding: 1rem;
  border: solid;
  margin: 1rem;
}

.Main {
  text-align: left;
}