#Title {
  text-align: center;
}

.dinosaurList {
  text-align: center;
}

.dinosaurList li {
  list-style-type: none;
  padding: 1.5rem;
  margin: 1rem;
}

.dinosaurList img {
  width: 22rem;
  height: 20rem;
}